<head>

    <meta charset="utf-8" />
    <title>Calendar | Dason - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link href="../../libs/%40fullcalendar/core/main.min.css" rel="stylesheet" type="text/css" />
    <link href="../../libs/%40fullcalendar/daygrid/main.min.css" rel="stylesheet" type="text/css" />
    <link href="../../libs/%40fullcalendar/bootstrap/main.min.css" rel="stylesheet" type="text/css" />
    <link href="../../libs/%40fullcalendar/timegrid/main.min.css" rel="stylesheet" type="text/css" />

    <!-- preloader css -->
    <link rel="stylesheet" href="../../css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="../../css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../../css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="../../css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!--SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>